<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.actprime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/haeyo_remove"
        android:label="해요"
        android:roundIcon="@drawable/haeyo_remove"
        android:supportsRtl="true"
        android:theme="@style/Theme.ACTprime"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
        </activity>
        <activity android:name=".SignupActivity"/>
        <activity android:name=".Tutorial"/>
        <activity android:name=".TutorialActivity1"/>
        <activity android:name=".TutorialActivity2"/>
        <activity android:name=".TutorialActivity3"/>
        <activity android:name=".Week1"/>
        <activity android:name=".Week1Activity1"/>
        <activity android:name=".Week1Activity2"/>
        <activity android:name=".Week1Activity3"/>
        <activity android:name=".Week1Activity4"/>
        <activity android:name=".Week1Activity5"/>
        <activity android:name=".Week1Activity6"/>
        <activity android:name=".Week1Activity7"/>
        <activity android:name=".Week2"/>
        <activity android:name=".Week2Activity1"/>
        <activity android:name=".Week2Activity2"/>
        <activity android:name=".Week2Activity3"/>
        <activity android:name=".Week2Activity4"/>
        <activity android:name=".Week2Activity5"/>
        <activity android:name=".Week2Activity6"/>
        <activity android:name=".Week2Activity7"/>
        <activity android:name=".Week3"/>
        <activity android:name=".Week3Activity1"/>
        <activity android:name=".Week3Activity2"/>
        <activity android:name=".Week3Activity3"/>
        <activity android:name=".Week3Activity4"/>
        <activity android:name=".Week3Activity5"/>
        <activity android:name=".Week3Activity6"/>
        <activity android:name=".Week3Activity7"/>
        <activity android:name=".PersonalSettingActivity"/>
        <activity android:name=".MeditationActivity"/>
        <activity android:name=".Meditation1"/>
        <activity android:name=".Meditation2"/>
        <activity android:name=".Meditation3"/>
        <receiver android:name=".alarm.AlertReceiver"/>
    </application>

</manifest>